@using Microsoft.AspNetCore.Authentication


<h1>Hi</h1>

<form method="post" action="Home/AssignTasks">
    <td>
        <input type="submit" value="Заассайнить таски"/>
    </td>
        
</form>
<label>@ViewBag.Result</label>

<h2>Tasks</h2>
@Html.ActionLink("New task","New","Tasks")
<ul>
    @{
        foreach (var task in Model)
        {
            <li>
                <form method="post" action="Tasks/delete?id=@task.Id">
                    @task.Title @task.Status @task.UserId <input type="submit" value="Delete"/>
                </form>
            </li>
        }
    }
</ul>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>